name: Go
on: [push]

jobs:
  build:
    services:
      redis:
        # Docker Hub image
        image: redis
        ports:
          - 6379:6379
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Install dependencies
        run: go mod vendor
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1
          args: --timeout=5m
          only-new-issues: false
      - name: Test with Go
        run: go test -tags=examples -v ./...